*{
    
    font-family: 'Circe Light', sans-serif;
   
}
.main{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    background-color: #171717;
}
.container{
    width: 1460px;
    margin: 0 auto;
    color: #ffff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
}
.logo{
    width: 216px;
    height: 33px;
}
.call-back{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 10px;
gap: 10px   ;
}
.call-back-img{
    width: 13px;
    height: 13px;
    
}
.call-back-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;   
}














.title-1, .title-2, .title-3{
    font-weight: 700;
    font-size: 50px;
        line-height: 28px;
}
.title-description{
    font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        width: 1182px;
}
.title-1{
    padding-bottom: 41px;
}











.block-1{
    padding-top: 120px;
    
}
.items-1{
    padding-top: 41px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5" ;
    gap: 35px ;
    font-weight: 700;
        font-size: 20px;
        line-height: 28px;
}
.items-1-block-1 {
    grid-area: item1;
    height: 468px;
    background-color: #634F2C;
    display: flex;
        justify-content: center;
        align-items: center;
}

.items-1-block-2 {
    grid-area: item2;
    height: 468px;
    background-color: #B4A385;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 44px;
}

.items-1-block-3 {
    grid-area: item3;
    height: 468px;
    background-color: #E4B564;
    display: flex;
  justify-content: center;
  align-items: center;
}

.items-1-block-4 {
    grid-area: item4;
    background-color: #635A4A;
    display: flex;
  justify-content: center;
  align-items: center;
    height: 468px;
}

.items-1-block-5 {
    grid-area: item5;
    background-color: #B08C4D;
    display: flex;
  justify-content: center;
  align-items: center;
    height: 468px;
}
















.block-2{
    padding-bottom: 191px;
}
.title-2{
    padding-top: 161px;
    padding-bottom: 94px;
}
.block-technic-park{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "item1-block2 item3-block2 item5-block2"
            "item1-block2 item3-block2 item5-block2"
            "item1-block2 item3-block2 item5-block2"
            "item1-block2 item3-block2 item5-block2"
            "item1-block2 item3-block2 item6-block2"
            "item2-block2 item3-block2 item6-block2"
            "item2-block2 item4-block2 item6-block2"
            "item2-block2 item4-block2 item6-block2"
            "item2-block2 item4-block2 item7-block2"
            "item2-block2 item4-block2 item7-block2"
            "item2-block2 item4-block2 item7-block2"
            "item2-block2 item4-block2 item7-block2";
        gap: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        height: 877px;
}
.technic-park-item-1{
    grid-area: item1-block2;
    width: 467px;
    padding: 44px 0 0 52px;
        background-color: #0e0e0e;
}
.technic-park-item-2 {
    grid-area: item2-block2;
    width: 467px;
    padding: 44px 0 0 52px;
        background-color: #1f1f1f;
}
.technic-park-item-3 {
    grid-area: item3-block2;
    width: 467px;
    padding: 44px 0 0 52px;
  background-color: #242424;
}
.technic-park-item-4 {
    grid-area: item4-block2;
    width: 467px;
padding: 44px 0 0 52px;
  background-color: #E4B564;
}
.technic-park-item-5 {
    grid-area: item5-block2;
    width: 467px;
    padding: 44px 0 0 52px;
  background-color: #1f1f1f;
}
.technic-park-item-6 {
    grid-area: item6-block2;
    width: 467px;
    padding: 44px 0 0 52px;
  background-color: #0E0E0E;
}
.technic-park-item-7 {
    grid-area: item7-block2;
    width: 467px;
    padding: 44px 0 0 52px;
  background-color: #0A0909;
}






















.block3-bg{
    background-color: #0E0E0E;
    width: auto;
}
.header-block-3{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 172px;
}
.all-projects-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    align-items: center;
    border: 1px solid #E4B564;
    width: 180px;
        height: 50px;
        text-align: center;
        justify-content: center;
        display: flex;
}
.our-clients{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "clients-item1 clients-item2 clients-item3"
            "clients-item4 clients-item5 clients-item6";
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        padding-top: 61px;
        padding-bottom: 238px;
        
}
.our-clients-text{
    padding: 16px 80px 0;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.our-clients-item-1{
    grid-area: clients-item1;
   height: 391px;
        background-color: #634F2C;
        display: flex;
            justify-content: center;
            align-items: center;
}
.our-clients-item-2 {
    grid-area: clients-item2;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(232, 210, 171, 0.76);
}
.our-clients-item-3 {
    grid-area: clients-item3;
display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
}
.our-clients-item-4 {
    grid-area: clients-item4;
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: #635A4A;
}
.our-clients-item-5 {
    grid-area: clients-item5;
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: #B08C4D;
}
.our-clients-item-6 {
    grid-area: clients-item6;
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: #634F2C;
}
.arsenal-logo{
    width: 190px;
    height: 42px;
}
.eid-logo{
    width: 185px;
    height: 49px;
}
.mavic-logo-1{
width: 62px;
height: 55px;
}
.mavic-logo-2{
width: 139px;
height: 55px;
}
.set-logo{
    width: 119px;
    height: 53px;
}