.body {
    width: 1280px;
    height: 1626px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0001);
}
li{
    list-style: none;
    display: inline;
    align-items: center;
}
a{text-decoration: none;}
.menu{
    margin-top: 25.5px;
}
.menu-item-1, .menu-item-2, .menu-item-3, .menu-item-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FF0000;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    margin-left: 72px;
}
.image{
    width: auto;
    height: 789px;
    margin-top: 25.5px;
    margin-bottom: 4px;
}
h1 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
}
.content{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin-top: 66px;
}

.text_button {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #ffff;

}
.copyright{
    text-align: right;
    margin-right: 105px;
    margin-top: 82px;
    font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 19.5px;
        letter-spacing: 2.4px;
}