*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #fff; */
}
.main{
    height: 768px;
        width: 1366px;
        margin: 0 auto;
    border: 1px solid black;
       

}

.background-main{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}










header{
    padding-top: 46px;
}
.header{
    width: 1030px;
    height: 61px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
        align-items: center;
}
.logo{
    display: flex;
}
.logo:hover .logo-text{
    color: #F26522;
}
.logo-img{
    height: 47px;
        width: 53px;
        background-image: url("../img/logo.png");
        background-size: contain;
        
}
.logo:hover .logo-img{
    height: 47px;
        width: 53px;
        background-image: url("../img/logo-2.png");
        background-size: contain;
}
.logo-text{
    padding-left: 10px;
    color: #fff;
}
.milan{
    font-weight: 700;
        font-size: 29px;
        line-height: 29px;
        text-transform: uppercase;
}
.holidays{
    font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
}



.contacts{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.mail:hover a{
    color: #F26522;
}
.tel:hover a {
    color: #F26522;
}
.tel{
    display: flex;
    justify-content: flex-end;
}
.mail{
    padding-bottom: 19px;
}












main{
    padding-top: 17px;
    color: #fff;
    width: 1030px;
        margin: 0 auto;
}
.tours{
    display: grid;  
    grid-template-columns: repeat(3, 309px);
        grid-auto-rows: repeat(2, 1fr);
        column-gap: 55px;
        row-gap: 37px;
    
    
}
.tours-image{
    width: 300px;
    height: 220px;
}
.tours-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.tours-link{
    font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        padding-top: 20px;
        /* text-align: center;
        flex-direction: column; */
}

.tours-item-up{
    background-color: #F26522;
    position: absolute;
    top: 163px;
    width: 300px;
        padding: 7px 14px 12px 16px;
        visibility: hidden;
        /* opacity: 0; */
}
.tours-item:hover .tours-item-up{
    visibility: visible;
    /* opacity: 1; */
}
.tours-item:hover .tours-link{
    color: #F26522;
}
.tours-item-up-info{
    display: flex;
    justify-content: space-between;
}
.tours-item-from{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}
.tours-item-up-price{
    font-weight: 400;
        font-size: 20px;
        line-height: 20px;
}
.tours-item-up-details{
    font-weight: 400;
        font-size: 14px;
        line-height: 14px;
}
.tours-item-up-details::after {
    content: ">";
    padding-left: 16px;
}



footer{
    text-align: center;
        margin-top: 48px;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
}
