@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


input {
    outline: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: 100% 100%;
    background-size: cover;
}
.wrapper{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}



.header{
    margin: 0 auto;
    width: 1366px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#header-logo-link{
    color: #ffff;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Ubuntu';
    font-style: normal;
    padding-left: 79px;
}
.header-logo:hover #header-logo-link {
    color: #01813F;
}
svg:hover path{
    fill: #01813F;
    transition: 0.5s;
}



.header-left-side{
    display: flex;
    align-items: center;
}
.header-img {
    align-items: flex-end;
}
.header-img-link {
    padding-right: 25px;
}
.header-welcome{
    color: #ffff;
    padding-left: 27px;
    padding-right: 79px;
    border-left: 1px solid rgba(255, 255, 255, 0.5) ;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.header-welcome-link{
    color: #ffff;
}
.header-welcome-link:hover{
    color: #01813F;
}








/* fieldset{
    text-align: center;
    display: flex;
    flex-direction: column;
} */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
}
.form{
    width: 324px;
    height: 515px;
    padding: 31px 60px 38px;
    background-color: #ffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    text-align: center;
}




.form-title {
    height: 18px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.form-title::before{
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -60px;
}
.form-title p{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-title a{
    color: #3CB878;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-self: flex-end;
}
.form-title a:hover {
    color: #01813F;
    text-decoration: underline;
}











/* Form social buttons */

.form-social-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 31px;
}
.form-social-btns button{
    color: #ffff;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    border: none;
    position: relative;
    padding: unset;
}

/* Facebook */

.social-btn-fb{
    background-color: #305DB8;
}
.social-btn-fb p{
    padding-right: 22px;
}
.social-btn-fb p::before{
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.form-social-btns-img-fb{
    width: 12px;
    height: 24px;
    padding-left: 16px;
}


/* Google */

.social-btn-google {
    background-color: #DF4A32;
}

.social-btn-google p {
    padding-right: 27px;
}

.social-btn-google p::before {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    left: 49px;
    top: 10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.form-social-btns-img-google {
    width: 30px;
    height: 19px;
    padding-left: 12px;
}

/* Form social buttons hover */

.social-btn-fb:hover {
    background-color: #022263;
    transition-duration: 0.5s;
}
.social-btn-google:hover {
    background-color: #AB1F09;
    transition-duration: 0.5s;
}





/* .form-fieldset{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
} */
.reg-fields{
    width: 324px;
    border: none;
    border-top: 1px solid #F2F2F2;
    padding: 0;
    margin: 0 auto;
}
legend{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.reg-fields input{
    width: 304px;
    height: 40px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 15px;
    padding-left: 20px;
    color: #434343;
}
.reg-fields input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.reg-fields input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    /* padding-left: 20px; */
}
/* .reg-fields input[type="text"] {
    padding-left: 20px;
} */












.checkbox-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    height: 20px;
}
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    border: none;
    cursor: pointer;
    /* align-self: flex-start; */
}

.checkbox::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    top: 2px;
}

.checkbox:checked {
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}


.checkbox-label {
    margin-left: 11px;
    cursor: pointer;
    height: 14px;
    color: #434343;
}

.agree-link {
    color: #3CB878;
    
}

.agree-link:hover {
    color: #01813F;
    text-decoration: underline;
    /* transition-duration: 0.5s; */
}




.create-acc{
    display: flex;
    width: 324px;
    height: 46px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    border: none;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
}
.create-acc:hover{
    background-color: #01813F;
    transition: 0.5s;
}


a {
    transition: 0.5s;
}