*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    width: 100%;
    max-width: 1480px;
    height: 1282px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 63px 99px 0 98px;
}

/* Logo */

.logo {
    font-weight: 400;
    font-size: 80px;
}
.logo{
    color: #000;
}
.color-logo {
    color: #4bcaff;
}

/* Top Nav Menu */

.top-list{
    display: flex;
    width: 1280px;
    height: 69px;
    padding: 0;
    background-color: #35444F;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.top-list>li{
    border-left: 1px solid white;
    font-weight: 400;
    font-size: 24px;
    line-height: 69px; 
}
.top-list-item-4{
    border-right: 1px solid white;
}
.top-link{
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}
.top-list li:hover{
    background: #222F3A;;
}


/* Left Nav Menu */

.aside-block{
display: flex;
    width: 1280px;
    justify-content: space-between;
}
.left-menu{
    height: 399px;
    width: 344px;
    padding: 0;
    border: 1px solid #000000;
}
.left-link{
    display: block;
        height: 79.8px;
        font-weight: 400;
        font-size: 27px;
        line-height: 79.8px;
        color: #495863;
        padding-left: 44px;
}
.left-link:hover{
    padding-left: 76px;
        background: #DBDBDB;
        color: #000000;
        height: 77.8px;
        line-height: 77.8px;
}

/* Main */

.main-content-block{
    display: flex;
    width: 1280px;
    margin-top: 49px;
}

.content{
    margin: 0 0 54px 52px;
}
.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    border: 1px solid #000;
}
.img{
    padding: 75px;
    height: 529px;
}
.img:hover{
    transition: 1s;
    transform: scale(1.2);
}
.content-text{
    font-size: 18px;
    line-height: 24px;
}
.text:first-child{
    margin-bottom: 34px;
}
/* Bot nav menu */
.bot-menu{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.bot-list{
    display: flex;
    width: 875px;
    justify-content: space-between;
    align-items: center;
}




.bot-link {
    display: block;
    font-size: 28px;
    line-height: 5px;
    color: #0C1927;
    
}

.bot-link-text:hover {
   color: #3181A6;
   border-bottom: 1px solid #3181A6;
}
.copyright{
    margin-right: 40px;
    font-size: 24px;
    color: #010101;
    line-height: 24px;
}